body {
    background-color: antiquewhite;
}

header {
    background-image: url(img/brownsmell.jpg);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center;
    text-align: center;
    border-radius: 10px;
}

header h1 {
    position: relative;
    margin: 0;
    top: 25%;
    font-size: 6vw;
}

nav {
    background-color: black;
    position: relative;
    top: -15px;
    border-radius: 10px
}

nav li {
    display: inline-block;
    font-size: 3vw;
    margin: 0 1%;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}

main {
    text-align: center;
    font-size: 4vw
}

article {
    padding: 0 20%
}

article h2 {
    text-align: center;
    font-size: 3vw;
}

article p, h3 {
    font-size: 40px;
}

article a {
    text-decoration: none;
    color: black;
}

#merch {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-around;
}

#merch img{
    width: 30vw
}

#merch p {
    font-size: 30px
}

#contact {
    font-size: 300%;
    text-align: center;
}

#order h4 {
    font-size: 200%;
    margin-bottom: 0px;
}

#submit h1 {
    text-align: center;
    font-size: 600%;
}

footer {
    text-align: right;
}